.wishList_wrap {
    min-height: 600px;
    padding: 0 120px;
}
.wishList_wrap {
    margin: 0;
    padding: 0;
}
.wishList {
    padding: 5px 0;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.6);
}
.wishList_price {
    font-weight: bold;
    color: rgba(144, 13, 184, 0.8);
    font-size: 30px;
}