.wishListPage_wrap {
    min-height: 600px;
    padding: 0 120px;
}
.wishList_wrap {
    margin: 0;
    padding: 0;
}
.wishListItem {
    padding: 5px 0;
    height: 50px;
    display: flex;
    align-items: center;
    line-height: 40px;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.6);
}
.wishListItem_img {
    height: 50px;
    width: 40px;
    margin-right: 20px;
}
.wishListPage_price {
    font-weight: bold;
    color: rgba(144, 13, 184, 0.8);
    font-size: 30px;
}