.MainMenu-wrap {
    border: 1px solid rgba(214,214,214,.8);
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    height: 100%;
}
.MainMenu-wrap h2 {
    margin: 5px 0;
}
.MainMenu-wrap h3:hover {
    cursor: pointer;
    color: rgba(143,211,113,.8);
}
.mainMenuList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}
.mainMenuList li {
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: 1px solid rgba(214,214,214,.8);
}
.mainMenuList li:hover {
    background-color: rgba(143,211,113,.8);
    margin: 0px -10px;
    padding: 5px 25px;
    border-bottom: 1px solid rgba(111, 212, 67, 0.8);
    cursor: pointer;
    transition: all .5s;
}
.active {
    display: block;
}
@media screen and (max-width: 970px) {
    .MainMenu-wrap h2 {
        font-size: 20px;
    }
    .MainMenu-wrap h3 {
        font-size: 18px;
    }
    .mainMenuList li {
        font-size: 14px;
    }
}