.cartPage_wrap {
    min-height: 600px;
    padding: 0 120px;
}
.bookList_wrap {
    margin: 0;
    padding: 0;
}
.bookList {
    padding: 5px 0;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.6);
}
.cartPage_price {
    font-weight: bold;
    color: rgba(20,250,9,.8);
    font-size: 30px;
}