.bookInfo_wrap {
    border:1px solid gray;
    display: flex;
    margin: 20px 120px;
    padding: 10px;
}
.bookImage {
    width: 230px;
    height: 300px;
    padding: 10px;
}
.bookInfo_price {
    font-size: 30px;
    color: rgba(2,250,30,.8);
    border-bottom: 1px solid rgba(0,0,0,.6);
}
.bookInfo_description {
    width: 80%;
}

@media screen and (max-width: 970px) {
    .bookInfo_wrap {
        padding: 5px 50px;
    }
}